<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="jiraUrl" value="https://myjira.mydomain.com:443"/>
    <add key="jiraUser" value="myJiraUser"/>
    <add key="jiraPassword" value="crypticPassword1234"/>
    <add key="jiraIssuePrefix" value="PROJECT1-,PROJECT2-"/>

    <add key="youtrackUrl" value="youtrack.mydomain.com"/>
    <add key="youtrackUser" value="myYoutrackUser"/>
    <add key="youtrackPassword" value="crypticPassword1234"/>
    <add key="youtrackPort" value="443"/>
    <add key="youtrackPrefix" value="PROJECT3-,PROJECT4-"/>
    <add key="youtrackAggregatePrefix" value="PROJECT1-,PROJECT2-"/>
  </appSettings>
</configuration>