<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ticketTimer" type="TicketTimer.Configuration.Model.TicketTimerSection, TicketTimer"/>
  </configSections>
  <ticketTimer>
    <commands>
      <add type="TicketTimer.Jira.Commands.SendToJiraCommand, TicketTimer.Jira" />
    </commands>
    <modules>
      <add type="TicketTimer.Jira.JiraModule, TicketTimer.Jira" />
    </modules>
  </ticketTimer>
</configuration>